/* elementos */
html {
    font-size: 62.5%; /* 1 rem = 10px */
}

header {
    background-color: #c0d6df;
    color: black;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    font-size: 2rem;
    line-height: 1.5rem;
}

footer {
    background-color: #c0d6df;
    color: black;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 1rem 0rem;
}

a {
    color: black;;
	text-decoration: none;
}

a:hover{
	color: #fff;
}


 


