.footer__container__center__subscribirse {
    margin-top: 4rem;
    text-align: center;
}

.footer__container__center__preguntas {
    margin-top: 3rem;
    text-align: center;
}

.footer__hr{
    width: 25%;
    height: 20px;
    margin: 1rem auto;

}

.footer__container__right__info{
    margin-top: 1rem;
    text-align: center;
}

.footer__container__right__info > i{
    padding: 0.50rem 0rem;
    margin-right: 0.20rem;
    margin-left: 0.20rem;
    width: 20px;
    height: 20px;
}

.footer__container__right__info > p{
    margin-bottom: 1rem;
}

.footer__container__bottom__data--2{
    padding-bottom: 2rem;
}
