.logo {
    /*  margin-top: 1rem;*/
      /*margin-left: 1rem;    */
      width: 100px;
      height: 80px;
      /*
      animation-name: logo__header;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 3s;
      animation-delay: 0s
      */
  }