/* Media Queries */
@media screen and (max-width: 768px){
    header {
        color: black;
    }   

    body{
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .header__container__center > h3{
        font-size: 2rem;
    }

    .header__container__left > img {
        width: 90px;
        height: 70px;
    }

    
    h3 {
        font-size: 3rem;
    } 
    

    .footer__container {
        flex-direction: column;
    }    

    .footer__container__left{
        width: 100%;
        margin-left: 25%;
    }
    
    .footer__container__center{
        width: 100%;
    }
    
    .footer__container__right{
        width: 100%;
    }


    h3 {
        font-size: 4rem;
    }
    

/* --- */
.info__item {
    width: 50%;
    margin-bottom: 3px;
}

.info__item__linea1 {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.info__item__linea2 {
    font-style: oblique;
    font-size: 1.5rem;
}

.info__item__linea3 {
    font-style: oblique;
    font-size: 1.5rem;
}

.info__item__imagen {
    width: 110px;
    height: 110px;
    border-radius: 2rem;
}

.main__titulo {
    font-size: 3.50rem;
}

.titulo{
    font-size: 2rem;
}

/*
.ingresar {
    margin-left: 40%;
}
*/



}


@media screen and (max-width: 480px){
    header {
        color: black;
    }   

    body{
        font-size: 1.5rem;
        line-height: 1rem;
    }

    
    footer {
        font-size: 1.5rem;
    }


    h3 {
        font-size: 0.50rem;
    }    


    .header__container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .header__container__left{
        width: 20%;   
    }
    
    .header__container__center{
        width: 80%;  

    }
    
    .header__container__right{
        width: 100%;   
        text-align: center;
    }


    .header__container__center > h3{
        font-size: 1.50rem;
    }

    .header__container__left > img {
        width: 70px;
        height: 50px;
    }

    .footer__container {
        flex-direction: column;
    }    

    .footer__container__left{
        width: 100%;
        margin-left: 0.7%;
    }
    
    .footer__container__center{
        width: 100%;
    }
    
    .footer__container__right{
        width: 100%;
    }

    .footer__container__right__info > p{
        font-size: 1.5rem; 
    }

   .footer__container__bottom__data--1{
       font-size: 1.5rem;
   }

   .footer__container__bottom__data--2{
    font-size: 1.5rem;
}


    /* --- */

    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }


    h3 {
        font-size: 3rem;
    }

    .info__item {
        width: 100%;
        margin-bottom: 3px;
    }

    .info__item__linea1 {
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .info__item__linea2 {
        font-style: oblique;
        font-size: 1.5rem;
    }

    .info__item__linea3 {
        font-style: oblique;
        font-size: 1.5rem;
    }

    .info__item__imagen {
        width: 100px;
        height: 100px;
        border-radius: 2rem;
    }

    .main__titulo {
        font-size: 2.50rem;
    }

    .titulo{
        font-size: 1.5rem;
    }
  /*  
    .ingresar {
        margin-left: 3rem;
    }
    */
}