/* ESTILOS GENERALES */

/* reset */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1 rem = 10px */
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    font-size: 2rem;
    line-height: 1.5rem;
}


h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 1rem 0rem;
}

a {
    color: black;;
	text-decoration: none;
}

a:hover{
	color: #fff;
}



/* ESTILOS A TRAVES DE CLASES Y SELECTORES COMPUESTOS */
/* layout inicio*/
.layout {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
    grid-template-rows: auto auto auto auto; 
    grid-template-columns: 100%;
}

header {
    grid-area: header;
    background-color: #c0d6df;
    color: black;
}


nav {
    grid-area: nav;
}

main {
    grid-area: main;
}
 
footer {
    grid-area: footer;
    background-color: #c0d6df;
    color: black;
}
/* layout fin*/
/* ----------------------------- */
.logo {
    /*  margin-top: 1rem;*/
      /*margin-left: 1rem;    */
      width: 100px;
      height: 80px;
      /*
      animation-name: logo__header;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 3s;
      animation-delay: 0s
      */
  }
  
  .ingresar {
      margin-left: 60%;
  }
  
  
  .titulo{
      
      font-family: 'Rock Salt', cursive;
      color: black;
      font-weight: bold;
      font-size: 3.50rem;
      margin-top: 3rem;
  }
  
  
  .boton {
      background-color: #c0d6df;
      font-size: 1.5rem;
  }


.linea {
    margin-top: 1rem;
}

.negrita {
   font-weight: bold;
}

.italica {
   font-style: oblique;
}

.tachado{
    text-decoration: line-through;
}

.rojo{
    color: red;
}

.raya{
    width: 50%;
    margin: 1rem 25%;
    height: 4rem;
    background: linear-gradient(to right,#c0d6df, black);
}


.raya-linea{
    border-bottom: 0.30rem solid #c0d6df;
}


.moneda-positivo{
    font-weight: bold;
}

.moneda-negativo{
    color: red;
}


.moneda-positivo::before{
    content: "$ ";
}


.main__titulo {
    color: #c0d6df;
    padding: 2rem 0rem 5rem 0rem;
}


.menu-activo {
    background-color: white;
    border-top: groove 0.30rem black;
    padding-bottom: 0rem;
}

.imagen__carrusel {
    height: 80vh;
    object-fit: cover;
    max-width: 100%;
}











/* navegacion inicio*/
.navegacion{
	width: 100%;
	background-color: #c0d6df;
    text-align: center;
}

.navegacion ul{
	list-style: none;
}
/* navegacion fin*/

/* navegacion menu inicio*/
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: black;;
	text-decoration: none;    
}

.menu li a:hover{
	color: gray;
}
/* navegacion menu fin*/

/* navegacion submenu inicio*/
.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	display: none; 
    z-index: 10;
}

.submenu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu li:hover .submenu{
	display: block;

}
/* navegacion submenu fin*/
/* ---------------------- */








/* ------- corte ----------------------------------------------------------------*/





/* header inicio*/
.header__container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.header__container__left{
    width: 20%;   
}

.header__container__center{
    width: 60%;   
    align-self: center;
    text-align: center;
}

.header__container__right{
    width: 20%;   
    text-align: right;
}


.header__container__left > img {
    margin-top: 1rem;
    margin-left: 1rem;    
    width: 100px;
    height: 80px;
    /*
    animation-name: logo__header;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s
    */
}



/*-----*/


.header_titulo{
    
    font-family: 'Rock Salt', cursive;
    color: black;
    font-weight: bold;
}

.header__container__right__ingresar {
   margin-top: 4rem;
   margin-right: 1rem;
   margin-bottom: 2rem;
}

.header__container__right__buscar {
    margin-top: 1rem;
    margin-right: 1rem;
    align-items: center;
}



/* header fin*/



/* main inicio */
.main {
  background-color: white;
}

.main__container {
    width: 100%;
    min-height: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.main__container__views {
    margin-top: 3rem;
}



.main__container__info {
    width: 80%;
}

.main__container__info > p {
    text-indent: 3ch;
}

.main__container__titulo {
    width: 10%;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.info__items__titulo {
    width: 80%;
    padding-bottom: 1.5rem;
}

.info__items__titulo__border {
    border-bottom: 0.30rem solid #c0d6df;
}

.info__item {
    width: 25%;
    margin-bottom: 3px;
}

.info__item__tasaciones {
    width: 50%;
    margin-bottom: 3px;
}

.info__item__linea0 {
     margin-top: 1rem;
}

.info__item__linea1 {
    font-weight: bold;
    margin-top: 1rem;
}

.info__item__linea2 {
    font-style: oblique;
}

.info__item__linea3 {
    font-style: oblique;
}

.info__item__imagen {
    width: 120px;
    height: 120px;
    border-radius: 2rem;
}


.info__item__imagen__tasaciones {
    width: 420px;
    height: 360px;
    border-radius: 2rem;
}

.info__item__imagen__nosotros {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.info__item > hr {
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right,#eaeaea, #c0d6df);
    height: 4px;
}


/* evaluar archivos separados */


/* main fin */

/* footer inicio*/
.footer {
    background-color: #eaeaea;
    color: black;
}

.footer__container {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.footer__container__left{
    width: 30%;
    display: flex;
}

.footer__container__center{
    width: 40%;
}

.footer__container__right{
    width: 30%;
}

.footer__container__bottom{
    width: 100%;
    text-align: center;
}

.footer__container__left > div > img {
    margin-top: 1rem;
    margin-left: 1rem;    
    width: 100px;
    height: 80px;
}

.footer__container__left__data{
    padding-top: 1rem;
}

.footer__container__left__data > div > i {
    padding: 0.50rem 0rem;
    margin-right: 0.20rem;
    margin-left: 1rem;
    width: 20px;
    height: 20px;
}

.footer__container__center__subscribirse {
    margin-top: 4rem;
    text-align: center;
}

.footer__container__center__preguntas {
    margin-top: 3rem;
    text-align: center;
}


.footer__hr{
    width: 25%;
    height: 20px;
    margin: 1rem auto;

}

.footer__container__left__container{
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      line-height: 2.5rem;
}

.footer__container__left__container > div > img {
    margin-top: 1rem;
    margin-left: 1rem;    
    width: 100px;
    height: 80px;
}


.footer__container__right__info{
    margin-top: 1rem;
    text-align: center;
}

.footer__container__right__info > i{
    padding: 0.50rem 0rem;
    margin-right: 0.20rem;
    margin-left: 0.20rem;
    width: 20px;
    height: 20px;
}

.footer__container__right__info > p{
    margin-bottom: 1rem;
}


.footer__container__bottom__data--2{
    padding-bottom: 2rem;
}
/* footer inicio*/

/* general inicio */
.texto-negrita {
    font-weight: bold;
}
/* ------- corte ----------------------------------------------------------------*/



/* general fin*/

/* Media Queries */
@media screen and (max-width: 768px){
    header {
        color: black;
    }   

    body{
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .header__container__center > h3{
        font-size: 2rem;
    }

    .header__container__left > img {
        width: 90px;
        height: 70px;
    }

    
    h3 {
        font-size: 3rem;
    } 
    

    .footer__container {
        flex-direction: column;
    }    

    .footer__container__left{
        width: 100%;
        margin-left: 25%;
    }
    
    .footer__container__center{
        width: 100%;
    }
    
    .footer__container__right{
        width: 100%;
    }


    h3 {
        font-size: 4rem;
    }
    

/* --- */
.info__item {
    width: 50%;
    margin-bottom: 3px;
}

.info__item__linea1 {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.info__item__linea2 {
    font-style: oblique;
    font-size: 1.5rem;
}

.info__item__linea3 {
    font-style: oblique;
    font-size: 1.5rem;
}

.info__item__imagen {
    width: 110px;
    height: 110px;
    border-radius: 2rem;
}

.main__titulo {
    font-size: 3.50rem;
}

.titulo{
    font-size: 2rem;
}

/*
.ingresar {
    margin-left: 40%;
}
*/



}


@media screen and (max-width: 480px){
    header {
        color: black;
    }   

    body{
        font-size: 1.5rem;
        line-height: 1rem;
    }

    
    footer {
        font-size: 1.5rem;
    }


    h3 {
        font-size: 0.50rem;
    }    


    .header__container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .header__container__left{
        width: 20%;   
    }
    
    .header__container__center{
        width: 80%;  

    }
    
    .header__container__right{
        width: 100%;   
        text-align: center;
    }


    .header__container__center > h3{
        font-size: 1.50rem;
    }

    .header__container__left > img {
        width: 70px;
        height: 50px;
    }

    .footer__container {
        flex-direction: column;
    }    

    .footer__container__left{
        width: 100%;
        margin-left: 0.7%;
    }
    
    .footer__container__center{
        width: 100%;
    }
    
    .footer__container__right{
        width: 100%;
    }

    .footer__container__right__info > p{
        font-size: 1.5rem; 
    }

   .footer__container__bottom__data--1{
       font-size: 1.5rem;
   }

   .footer__container__bottom__data--2{
    font-size: 1.5rem;
}


    /* --- */

    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }


    h3 {
        font-size: 3rem;
    }

    .info__item {
        width: 100%;
        margin-bottom: 3px;
    }

    .info__item__linea1 {
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .info__item__linea2 {
        font-style: oblique;
        font-size: 1.5rem;
    }

    .info__item__linea3 {
        font-style: oblique;
        font-size: 1.5rem;
    }

    .info__item__imagen {
        width: 100px;
        height: 100px;
        border-radius: 2rem;
    }

    .main__titulo {
        font-size: 2.50rem;
    }

    .titulo{
        font-size: 1.5rem;
    }
  /*  
    .ingresar {
        margin-left: 3rem;
    }
    */
}

/*  Keyframes  */
@keyframes logo__header {
    0%{ 
        width: 0px;
    height: 0px;

    }
    25%{ 
        width: 25px;
        height: 20px;
    
     }
    50%{     width: 50px;
        height: 40px;
     }
    75%{ 
        width: 75px;
        height: 60px;
    
    }
    100%{       width: 100px;
        height: 80px;
    
    }
 }
 