@charset "UTF-8";
/* resetear */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* elementos */
html {
  font-size: 62.5%;
  /* 1 rem = 10px */
}

html body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ffffff;
  font-size: 2rem;
  line-height: 1.5rem;
}

html body header {
  background-color: #c0d6df;
  color: black;
}

html body footer {
  background-color: #c0d6df;
  color: black;
}

html body h1 {
  font-size: 8rem;
}

html body h2 {
  font-size: 6rem;
}

html body h3 {
  font-size: 4rem;
}

html body h4 {
  font-size: 2rem;
}

html body p {
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 1rem 0rem;
  text-indent: 2rem;
}

html body a {
  color: black;
  text-decoration: none;
}

html body a:hover {
  color: #fff;
}

/* colores sitio y generales */
.clr-sitio-1 {
  color: #c0d6df;
}

.clr-sitio-2 {
  color: #eaeaea;
}

.clr-sitio-3 {
  color: #c0d6df;
}

.clr-negro {
  color: black;
}

.clr-rojo {
  color: red;
}

.bg-gris {
  background-color: gray;
}

.boton {
  background-color: #c0d6df;
  font-size: 1.5rem;
}

.linea {
  margin-top: 1rem;
}

.raya {
  width: 50%;
  margin: 1rem 25%;
  height: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#c0d6df), to(black));
  background: linear-gradient(to right, #c0d6df, black);
}

.raya-linea {
  border-bottom: 0.30rem solid #c0d6df;
}

.moneda-positivo {
  font-weight: bold;
}

.moneda-negativo {
  color: red;
}

.moneda-positivo::before {
  content: "$ ";
}

.borde-izquierdo {
  border-left: 1rem solid #c0d6df;
}

/* estilos generales */
.negrita {
  font-weight: bold;
}

.italica {
  font-style: oblique;
}

.tachado {
  text-decoration: line-through;
}

.justificado {
  text-align: justify;
}

.indentado {
  text-indent: 2rem;
}

/* tamaños */
.imagen-chica {
  width: 100px;
  height: 100px;
}

.imagen-mediana {
  width: 200px;
  height: 200px;
}

.imagen-grande {
  width: 300px;
  height: 300px;
}

.imagen-colecciones {
  width: 120px;
  height: 120px;
}

.radius-50 {
  border-radius: 50%;
}

.radius-10 {
  border-radius: 10%;
}

.borde-clr-sitio-1 {
  border: 0.7rem solid #c0d6df;
}

/*  Keyframes  evaluar si usamos ahora*/
@-webkit-keyframes logo__header {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 25px;
    height: 20px;
  }
  50% {
    width: 50px;
    height: 40px;
  }
  75% {
    width: 75px;
    height: 60px;
  }
  100% {
    width: 100px;
    height: 80px;
  }
}
@keyframes logo__header {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 25px;
    height: 20px;
  }
  50% {
    width: 50px;
    height: 40px;
  }
  75% {
    width: 75px;
    height: 60px;
  }
  100% {
    width: 100px;
    height: 80px;
  }
}

.header__img--logo {
  width: 100px;
  height: 100px;
}

.header__div--titulo {
  font-family: 'Rock Salt', cursive;
  color: black;
  font-weight: bold;
  font-size: 3.50rem;
  margin-top: 3rem;
}

.header__a--ingresar {
  margin-left: 60%;
}

/* navegacion */
.navegacion {
  width: 100%;
  background-color: #c0d6df;
  text-align: center;
}

.navegacion ul {
  list-style: none;
}

.menu li {
  position: relative;
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
}

.menu li a:hover {
  color: gray;
}

.menu li:hover .submenu {
  display: block;
}

.submenu {
  position: absolute;
  background: #333333;
  width: 120%;
  display: none;
  z-index: 10;
  padding: 0rem 0rem;
  margin: 0rem 0rem;
  text-align: center;
}

.submenu li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.menu-activo {
  background-color: white;
  border-top: groove 0.30rem black;
  padding-bottom: 0rem;
}

.main__h2--titulo {
  color: #c0d6df;
  padding: 2rem 0rem 5rem 0rem;
}

.footer__img--logo {
  width: 100px;
  height: 100px;
}

.footer__div--subscribirse {
  margin-top: 4rem;
  text-align: center;
}

.footer__div--preguntas {
  margin-top: 3rem;
  text-align: center;
}

.footer__div--social {
  margin-top: 1rem;
  text-align: center;
}

.footer__div--social i {
  padding: 0.50rem 0rem;
  margin-right: 0.20rem;
  margin-left: 0.20rem;
  width: 20px;
  height: 20px;
}

.footer__div--social p {
  margin-bottom: 1rem;
}

.footer__hr {
  width: 25%;
  height: 20px;
  margin: 1rem auto;
}
/*# sourceMappingURL=main.css.map */