/* elementos */
html {
    font-size: 62.5%; /* 1 rem = 10px */
    body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: #ffffff;
        font-size: 2rem;
        line-height: 1.5rem;
        header {
            background-color: #c0d6df;
            color: black;
        }
        footer {
            background-color: #c0d6df;
            color: black;
        }
        h1 {
            font-size: 4rem;
        }        
        h2 {
            font-size: 3.50rem;
        }
        h3 {
            font-size: 3rem;
        }
        p {
            font-size: 2rem;
            line-height: 2.2rem;
            margin: 1rem 0rem;
            text-indent: 2rem;
        }
        a {
            color: black;;
            text-decoration: none;
        }
        a:hover{
            color: map-get($colores, sitio-3);
        }        
    }
}
