.footer__{
    &img{
        &--logo{
            @include tamanios(100px, 100px);
        }
    }
    &div{
        &--subscribirse{
            margin-top: 4rem;
            text-align: center;
        }
        &--preguntas{
            margin-top: 3rem;
            text-align: center;       
        }
        &--social{
            margin-top: 1rem;
            text-align: center;
            i {
                padding: 0.50rem 0rem;
                margin-right: 0.20rem;
                margin-left: 0.20rem;
                width: 20px;
                height: 20px;
            }
            p {
                margin-bottom: 1rem;
            }
        }
    }
    &hr {
        width: 25%;
        height: 20px;
        margin: 1rem auto;
    }
}
