.boton {
      background-color: #c0d6df;
      font-size: 1.5rem;
  }

.linea {
    margin-top: 1rem;
}

.raya{
    width: 50%;
    margin: 1rem 25%;
    height: 4rem;
    background: linear-gradient(to right,#c0d6df, black);
}

.raya-linea{
    border-bottom: 0.30rem solid #c0d6df;
}

.moneda-positivo{
    font-weight: bold;
}

.moneda-negativo{
    color: red;
}

.moneda-positivo::before{
    content: "$ ";
}

.borde-izquierdo{
    border-left: 1rem solid #c0d6df;
}

/* estilos generales */
$estilos-generales: (
    "izquierda": left,
    "centro": center,
    "derecha": right
);
