.header__{
    &img{
        &--chica{
        width: 100px;
        height: 100px;
        }
        &--mediana{
            width: 200px;
            height: 200px;
        }
        &--grande{
            width: 300px;
            height: 300px;
        }    
    }
}