/* header */
.header__{
    &img{
        &--logo{
            @include tamanios(100px, 100px);
        }
    }
    &div{
        &--titulo{
            font-family:'Arial Narrow', Arial, sans-serif;
            color: map-get($colores, negro);
            font-weight: bold;
            font-size: 4.50rem;
            margin-top: 3rem;
        }
    }
    &h1{
        &--titulo{
            /*font-family:'Arial Narrow', Arial, sans-serif;*/
            font-family: 'Nanum Myeongjo', serif;
            color: map-get($colores, negro);
            font-weight: bold;
            font-size: 5.50rem;
            margin-top: 1rem;
        }
    }
    &a{
        &--ingresar{
            margin-left: 60%;
        }
    }
}
