.header__{
    &img{
        &--logo{
            @include tamanios(100px, 100px);
        }
    }
    &div{
        &--titulo{
            font-family: 'Rock Salt', cursive;
            color: black;
            font-weight: bold;
            font-size: 3.50rem;
            margin-top: 3rem;
        }
    }
    &a{
        &--ingresar{
            margin-left: 60%;
        }
    }
}
