/* nav */
.navegacion{
	width: 100%;
	background-color: map-get($colores, sitio-1);
    text-align: center;
	ul{
		list-style: none;
	}
}

.menu{
	li{
		position: relative;
		display: inline-block;
		a{
			display: block;
			padding: 15px 20px;
			color: map-get($colores, negro);
			text-decoration: none;    
		}
		a:hover{
			color: map-get($colores, sitio-3);
			
		}
	}
	li:hover .submenu{
		display: block;
	}
}

.submenu{
	position: absolute;
	background: map-get($colores, sitio-1);
	width: 100%;
	display: none; 
    z-index: 10;
	padding: 0rem 0rem;
	margin: 0rem 0rem;
	text-align: center;
	li{
		a{
			display: block;
			padding: 15px 20px;
			color: map-get($colores, negro);
			text-decoration: none;
		}
		a:hover{
			color: map-get($colores, sitio-3);
		}
	}
}

.menu-activo {
	background-color: map-get($colores, blanco);
    border-top: groove 0.30rem #023e8a;
    padding-bottom: 0rem;
}
