/* Media Queries */
@media screen and (max-width: 768px){
    html body {
        font-size: 2.1rem;
        line-height: 2rem;
      }

    html body p {
        font-size: 2.1rem;
        line-height: 2rem;
    }

    html body h2 {
        font-size: 2.70rem;
      }

    .header__img--logo{
        width: 90px;
        height: 90px;
    }

    .header__div--titulo{
        font-size: 2rem;
    }

    .header__a--ingresar{
        margin-left: 40%;
        font-size: 2rem;
    }

    .menu li a{
        font-size: 2rem;
    }

  
    .footer__div--social p{
        font-size: 2rem;
    }

    .footer__div--derechos p{
        font-size: 2rem;
        padding: 0 0;
        margin-left: 0;
    }

    .footer__div--derechos{
        text-align: center;
    }

    .imagen-carrusel{
        height: 100%;
    }

    .imagen-xgrande{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 480px){
    html body {
        font-size: 1.8rem;
        line-height: 1.7rem;
      }

    html body p {
        font-size: 1.8rem;
        line-height: 1.7rem;
    }

    html body h2 {
        font-size: 2.50rem;
      }

    .header__img--logo{
        width: 80px;
        height: 80px;
    }

    .header__div--titulo{
        font-size: 1.50rem;
    }

    .header__a--ingresar{
        margin-left: 70%;
        font-size: 1.50rem;
    }

    .menu li a{
        font-size: 1.50rem;
    }

    .footer__div--social p{
        font-size: 1.8rem;
    }

    .footer__div--derechos p{
        font-size: 1.5rem;
        padding: 0 0;
        margin-left: 0;
    }

    .footer__div--derechos{
        text-align: center;
    }

    .imagen-xgrande{
        width: 200px;
        height: 200px;
    }

    .imagen-carrusel{
            height: 100%;
    }
}