$estilos-textos: (
   "negrita": bold,
   "italica": oblique,
   "tachado": line-through,
   "justificado": justify,
   "indentado": 2rem
);

.txt{
   &-negrita {
      font-weight: map-get($estilos-textos, negrita);
    }
   &-italica {
      font-style: map-get($estilos-textos, italica);
   }
   &-tachado{
      text-decoration: map-get($estilos-textos, tachado)
   }
   &-justificado{
      text-align: map-get($estilos-textos, justificado)
   }
   &-indentado{
      text-indent: map-get($estilos-textos, indentado)
   }
}
